.DS_Store
.idea
*.iml
.classpath
.project
.settings
*.class
target/
*.dump
*.orig
*.swp
test-output/
*.log
*_res.yaml
log.txt
app/test/velocity.log.1
deploy/db/config/config.*
deploy/db/config/tnsnames.*
deploy/db/config/*.sql
deploy/db/config/trade.txt
app/test/bin/
node_modules/

knowman/test/mps/
knowman/test/zfalcon/
knowman/test/*.bin
lib/

static/onestop/node_modules/
static/drill/node_modules/
static/prodmng/node_modules/


dist/
${app_run}/
logs/
.metadata/
*.iml
app/test/${app_root}/logs
${app_root}/logs
workspace.xml

